.incorrect-info-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.incorrect-heading .arrow-down {
  stroke: rgb(216, 0, 0);
  color: rgb(216, 0, 0);
  transform: rotate(180deg);
}

.incorrect-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.incorrect-heading .text {
  color: #ff0404;
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.heading {
  margin: 0;
  font-size: 20px;
}

.incorrect-main-container {
  margin-top: 20px;
  position: relative;
}

.incorrect-main-container::after {
  content: "";
  display: block;
  background: #5e008a;
  border-bottom: 3px solid #5e008a;
  margin-top: 30px;
  border-radius: 20px;
}

.incorrect-main-container .text {
  font-weight: 100;
}

.incorrect-scroll {
  height: 250px;
  overflow-y: scroll;
}

.incorrect-scroll::-webkit-scrollbar {
  display: none;
}

.incorrect-info-cont .fade1 {
  left: -10px;
  background: linear-gradient(to bottom, #15243a, #15243adb rgba(223, 2, 2, 0));
  width: 110%;
  top: 8.8%;
}
.incorrect-info-cont .fade2 {
  left: -10px;
  top: 89%;
  background: linear-gradient(to top, #15243a, #15243ac0, rgba(255, 0, 0, 0));
  width: 110%;
}
