.answer-modal {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #ffffff16;
  margin: 20px;
}

.container .text {
  margin-top: 40px;
}

.answer-modal .overlay {
  transition: 300ms ease-in-out;
  animation: overyaly-animate 300ms ease-in-out;
}


@keyframes overyaly-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  background: #0b1320;
  width: 350px;
  position: relative;
  display: flex;
  z-index: 500;
  align-items: center;
  flex-direction: column;
  transition: 300ms ease-in-out;
  color: #fff;
  border: 5px solid #5e008a;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.205);
  padding: 30px;
  border-radius: 20px;
  animation: pop-up-answer 300ms ease-in-out;
}

@keyframes pop-up-answer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.pop-up-animate {
  animation: pop-up 400ms linear 0ms;
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.container .modal-quit-icon {
  position: absolute;
  top: 15px;
  background: rgba(128, 128, 128, 0);
  right: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  border-radius: 50px;
}
.modal-quit-icon:hover {
  background: rgba(128, 128, 128, 0.107);
  transform: scale(1.1);
}
.modal-quit-icon:active {
  background: rgba(128, 128, 128, 0.107);
  transform: scale(.9);
}

.container .heading {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: 35px;
}

.answer .heading {
  text-align: center;
  position: relative;
  left: 0;
} 

.answer .text {
  margin: 15px;
}

.container .text {
  font-weight: normal;
  line-height: 1.4;
}

@media (max-width: 500px) {
  .container {
    width: 70%;
  }

  .heading {
    font-size: 17px;
  }

  .container .text {
    font-size: 14px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
 .container  {
    width: 55%;
  }
}

@media (min-width: 700px) and (max-width: 1150px) {
 .container {
    width: 350px;
  }
}
