.question {
  overflow-y: scroll;
  height: 100vh;
}

.top-container {
  display: flex;
  position: sticky;
  top: 20px;
  justify-content: space-between;
}

.top-container>.top-logo {
  position: absolute;
  margin-top: -59px;
  margin-left: -34px;
  width: 255px;
  animation: slide-question-logo 500ms cubic-bezier(0.57, 0, 0.32, 0.99) ;
}

@keyframes slide-question-logo {
  0% {
    margin-top: -90px;
    margin-left: -60px;
  }
  100% {
    margin-top: -59px;
    margin-left: -34px;
  }
  
}


.timer-container {
  display: flex;
  background: #5e008a;
  border-radius: 50px;
  position: sticky;
  left: 95%;
  align-items: center;
  gap: 5px;
  height: 25px;
  margin: 30px;
  padding: 7px;
  font-weight: 700;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  color: #fff;
}

.timer-container>.time {
  display: flex;
  align-items: center;
}



.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  margin-top: -71px;
}

.playBtn {
  background: none;
  color: #fff;
  border: none;
  position: absolute;
  z-index: 99;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(215, 215, 215, 0.096);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 200ms ease-in-out;
}

.playBtn:hover {
  background: rgba(215, 215, 215, 0.163);
}

.playBtn .wave-on {
  padding: 4px;
  border-radius: 50%;
  animation: wave1 3s ease-in-out infinite;
}

@keyframes wave1 {
  0% {
    background: rgba(215, 215, 215, 0.096);
  }

  50% {
    background: rgba(215, 215, 215, 0.382);
  }

  100% {
    background: rgba(215, 215, 215, 0.096);
  }
}

.pages {
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 20px;
  z-index: 99;
  text-align: center;
  font-weight: 700;
  background: #5e008a;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  padding: 10px;
  border-radius: 20px;
}

.buttons {
  display: flex;
  position: sticky;
  top: 65%;
  bottom: 10px;
  align-items: center;
  gap: 23px;
  z-index: 99;
  margin-top: -10px;
}

.quit-button {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  background: #5e008a;
  padding: 7px;
  gap: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 10px;
  border-radius: 50px;
}

.txt {
  font-size: 15px;
}

.paginationButton {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 13px;
  align-items: center;
}

.paginationButton li {
  padding: 7px;
  display: none;
}

.paginationButton .prevClass {
  display: flex;
}

.paginationButton .nextClass {
  display: flex;
}

.submit-button {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  align-items: center;
  background: #5e008a;
  height: 30px;
  font-size: 10px;
  justify-content: center;
  gap: 5px;
  padding: 7px;
  user-select: none;
  border-radius: 50px;
}

.submit-button .submit-icon {
  font-size: 19px;
}

.submit-false {
  cursor: not-allowed;
  background: #5e008a;
}

.submit-button:hover {
  background: #530776;
}

.quit-button:hover {
  background: #530776;
}

.left-icon {
  color: #5e008a;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  stroke: #5e008a;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  stroke-width: 4;
  opacity: 1;
}

.left-icon.prev-end {
  opacity: 0.3;
}

.left-icon.prev-end:hover {
  opacity: 0.3;
  cursor: not-allowed;

  background: rgb(255, 255, 255);
}

.right-icon.next-end {
  opacity: 0.3;
}

.right-icon.next-end:hover {
  opacity: 0.3;
  cursor: not-allowed;
  background: rgb(255, 255, 255);
}

.right-icon {
  color: #5e008a;
  transform: rotateZ(180deg);
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  stroke: #5e008a;
  background: rgb(255, 255, 255);
  padding: 5px;
  opacity: 1;
  border-radius: 50%;
  stroke-width: 4;
}

.right-icon:hover {
  background: rgba(255, 255, 255, 0.864);
}

.left-icon:hover {
  background: rgba(255, 255, 255, 0.864);
}

.question-container2 {
  background: linear-gradient(to top, #3a5277, #1a2c47);
  padding: 30px;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.134);
  max-width: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question-cont>h2 {
  position: absolute;
  top: 20px;
  left: 35px;
}

.question-cont>p {
  margin-top: 330px;
}

.question-cont .question-data {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}



.question-container2 .option-cont {
  width: 100%;
  gap: 1px;
}

.question>.link-container {
  margin: 0px;
  margin-left: 20px;
}

.option-cont .option-grid {
  display: grid;
  align-items: center;
  justify-items: start;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

.option-grid .option {
  background: #d9d9d93b;
  margin: 10px;
  display: flex;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal;
  border-radius: 10px;
  position: relative;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.option-grid .option.selected {
  background-color: #5e008a;
  transition: 200ms ease-in-out;
}

.option-grid .option.selected:hover {
  background-color: #5e008a;
}

.option-count.selected {
  transform: scale(1.2);
}



.option-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e008a;
  border-radius: 50px;
  transition: 100ms ease-in;
  position: absolute;
  width: 20px;
  font-size: 12px;
  height: 20px;
  top: -5px;
  left: -10px;
}

.option-cont .text {
  font-size: 13px;
  font-weight: normal;
  transition: 100ms ease-in-out;
  margin-top: 30px;
  color: rgb(193, 255, 78);
}

.option-cont .animate-text {
  animation: shake 400ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(-15px);
  }

  60% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.option-grid .option:hover {
  background: #8484843b;
}

.option-grid .option:hover .option-count {
  transform: scale(1.2);
}

.option-cont>h2 {
  margin-top: -20px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .top-container>.top-logo {
    width: 248px;
    margin-top: -68px;
    margin-left: -41px;

  }

  @keyframes slide-question-logo {
    0% {
      margin-top: -90px;
      margin-left: -60px;
    }
    100% {
      margin-top: -68px;
      margin-left: -41px;
    }
    
  }

  .question-cont .question-data {
    font-size: 14px;
    margin-top: 37px;
  }

  .paginationButton {
    gap: 5px;
  }

  .playBtn {
    top: 15px;
    right: 20px;
  }

  .question-cont>h2 {
    font-size: 20px;
    top: 16px;
  }

  .option-grid .option {
    font-size: 14px;
  }

  .timer-container {
    font-size: 13px;
    margin: 20px;
  }


  .timer-container .timer-icon {
    font-size: 20px;
  }

  .question-container2 {
    max-width: 75%;
  }

  .main-container {
    margin-top: 10px;
  }

  .pages {
    font-size: 12px;
    padding: 9px;
    /* width: 30px; */
  }

  .option-cont>h2 {
    margin-top: -20px;
    font-size: 18px;
  }

  .option-grid {
    justify-items: center;
    gap: 15px;
  }

  .option-grid .option {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
  }

  .buttons {
    /* margin-top: -5px; */
    gap: 7px;
  }

  .question>.link-container {
    margin: 20px;
    margin-bottom: -15px;
  }

  .submit-button {
    font-size: 9px;
    padding: 7px;
    height: 25px;
    width: 62px;
    width: 80px;
  }

  .quit-button {
    font-size: 9px;
    padding: 7px;
    height: 25px;
    width: 62px;
    width: 60px;
  }

  .quit-button .quit-icon {
    font-size: 20px;
  }

  .submit-button .submit-icon {
    font-size: 20px;
  }
}


@media (min-width: 500px) and (max-width: 2150px) {
  .question-container2 {
    max-width: 400px;
  }
}


@media (max-height: 700px) {
  .question>.link-container{
    display: none;
  }
  
}