.question {
  overflow-y: scroll;
  height: 100vh;
}

.top-container {
  display: flex;
  position: sticky;
  top: 20px;
  justify-content: space-between;
}

.top-container > .top-logo {
  margin-top: 10px;
  margin-left: -80px;
  width: 330px;
}

.timer-container {
  display: flex;
  background: #5e008a;
  border-radius: 50px;
  align-items: center;
  gap: 5px;
  height: 25px;
  margin: 30px;
  padding: 10px;
  font-weight: 700;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  color: #fff;
}

.timer-container > .time {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -75px;
}

.pages {
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 10px;
  z-index: 99;
  text-align: center;
  font-weight: 700;
  background: #5e008a;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  padding: 10px;
  border-radius: 20px;
}

.buttons {
  display: flex;
  position: sticky;
  bottom: 10px;
  align-items: center;
  gap: 30px;
  z-index: 99;
  margin-top: -10px;
}

.quit-button {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  background: #5e008a;
  /* position: relative; */
  padding: 7px;
  gap: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 10px;
  border-radius: 50px;
}

.txt {
  font-size: 15px;
}

/* .quit-button .pop-up::after {
  content: "";
  position: absolute;
  width: 0px;
  left: 37px;
  top: 80px;
  transform: rotateZ(180deg);
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #5e008a8b;
} */

.submit-button {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  align-items: center;
  background: #5e008a;
  height: 30px;
  font-size: 10px;
  gap: 5px;
  padding: 7px;
  user-select: none;
  border-radius: 50px;
}

.submit-button .submit-icon {
  font-size: 19px;
}

.submit-false {
  cursor: not-allowed;
  background: #5e008a;
}

.submit-button:hover {
  background: #530776;
}

.quit-button:hover {
  background: #530776;
}
.left-icon {
  color: #5e008a;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  stroke: #5e008a;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  stroke-width: 4;
}

.right-icon {
  color: #5e008a;
  transform: rotateZ(180deg);
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.271);
  stroke: #5e008a;
  background: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 50%;
  stroke-width: 4;
}

.right-icon:hover {
  background: rgba(255, 255, 255, 0.864);
}
.left-icon:hover {
  background: rgba(255, 255, 255, 0.864);
}

.question-container2 {
  background: linear-gradient(to top, #3a5277, #1a2c47);
  padding: 30px;
  border-radius: 30px;
  color: #fff;
  margin: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.134);
  max-width: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question-cont > h2 {
  position: absolute;
  top: 20px;
  left: 35px;
}

.question-cont > p {
  margin-top: 330px;
}
.question-cont {
  font-size: 13px;
}

.question-container2 .option-cont {
  width: 100%;
  gap: 1px;
}
.question > .link-container {
  margin: 0px;
  margin-left: 20px;
}

.option-cont .option-grid {
  display: grid;
  align-items: center;
  justify-items: start;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

.option-grid .option {
  background: #d9d9d93b;
  margin: 10px;
  display: flex;
  font-weight: 600;
  border-radius: 50px;
  position: relative;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}



.option-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e008a;
  border-radius: 50px;
  transition: 100ms ease-in;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  left: -10px;
}

.option-cont .text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  color: rgb(193, 255, 78);
}



.option-grid .option:hover {
  background: #8484843b;
}

.option-grid .option:hover .option-count {
  transform: scale(1.2);
}

.option-cont > h2 {
  margin-top: -20px;
  font-size: 14px;
  font-weight: 700;
}

/* @media screen and (max-height: 700px) {
  .main-container {
    margin-top: 20px;
  }
}
@media screen and (min-height: 1000px) {
  .main-container {
    margin-top: 50px;
  }
} */


@media screen and (max-width: 500px) {
  .top-container > .top-logo {
    width: 250px;
    margin-left: -65px;
    margin-top: 10px;
  }

  .timer-container {
    font-size: 13px;
    margin: 20px;
  }

  .timer-container .timer-icon {
    font-size: 20px;
  }

  .question-container2 {
    max-width: 75%;
    margin: 10px;
  }

  .main-container {
    margin-top: 0px;
  }
  .pages {
    font-size: 12px;
    padding: 9px;
    /* width: 30px; */
  }

  .option-cont > h2 {
    margin-top: -20px;
    font-size: 18px;
  }

  .option-grid {
    justify-items: center;
    gap: 15px;
  }

  .option-grid .option {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
  }

  .buttons {
    margin-top: 0px;
  }
  .question > .link-container {
    margin: 20px;
    margin-bottom: -15px;
  }

  .submit-button {
    font-size: 9px;
    padding: 7px;
    height: 25px;
    width: 62px;
    width: 80px;
  }
  .quit-button {
    font-size: 9px;
    padding: 7px;
    height: 25px;
    width: 62px;
    width: 60px;
  }

  .quit-button .quit-icon {
    font-size: 20px;
  }
  .submit-button .submit-icon {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) {
  .question-container2 {
    max-width: 100%;
    width: 400px;
  }
}
@media screen and (min-width: 500px) {
  .question-container2 {
    max-width: 100%;
    width: 400px;
  }
}
@media screen and (min-width: 800px) {
  .question-container2 {
    max-width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .question-container2 {
    max-width: 40%;
  }
}
@media screen and (min-width: 1100px) {
  .question-container2 {
    max-width: 42%;
  }
}
