.score-modal {
  position: absolute;
  background: rgba(24, 24, 24, 0.077);
  backdrop-filter: blur(0.4em);
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 100%;
}

.score-modal > .modal-container {
  background:  #0b1320;
  width: 400px;
  position: relative;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.205);
  padding: 30px;
  border: 5px solid #5e008a;
  border-radius: 20px;
}

/* .score-modal .heading {
} */

.score-modal .close-info-icon {
  position: absolute;
  left: 87%;
  top: 10px;
  z-index: 99;
  padding: 10px;
  border-radius: 50px;
  background: #ffffff00;
  transition: 200ms ease-in-out;
}

.score-modal .close-info-icon:hover {
  background: #ffffff0e;
  transform: scale(1.1);
}
.score-modal .close-info-icon:active {
  transform: scale(.9);
}



@media (max-width: 500px) {
  .score-modal > .modal-container {
    width: 70%;
  }

  .score-modal .close-info-icon {
    left: 85%;
    top: 9px;
  }

  .heading {
    font-size: 17px;
  }

  .container .text {
    font-size: 12px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .score-modal > .modal-container {

    width: 55%;
  }
}

@media (min-width: 700px) and (max-width: 1150px) {
  .score-modal > .modal-container {
    width: 400px;
  }
}


/* @media (max-width: 800px) {
  .score-modal > .modal-container {
    width: 55%;
  }
}  */
