.skelenton-cont>.question-container2 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  width: 400px;
  height: 300px;
}

:root {
  --gradient: linear-gradient(to left,
      #ffffff00,
      rgba(169, 169, 169, 0.649),
      #ffffff00);
  --bg: #d9d9d93b;
  --speed: 1.3s;
}


.skelenton-cont .question-cont {
  display: flex;
  flex-direction: column;
}

.skelenton-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skelenton-cont p {
  background: var(--bg);
  width: 70%;
  position: absolute;
  top: 60px;
  background-image: var(--gradient);
  background-position: -540px;
  border-radius: 50px;
  background-repeat: no-repeat;
  height: 6%;
  animation: shimmer var(--speed) linear infinite;
}

.skelenton-cont p::after {
  content: "";
  width: 70%;
  position: absolute;
  top: 35px;
  background: var(--bg);
  background-image: var(--gradient);
  background-position: -540px;
  border-radius: 50px;
  background-repeat: no-repeat;
  height: 100%;
  animation: shimmer var(--speed) linear infinite;
}

.skelenton-cont h2 {
  width: 30%;

  height: 6%;
  background: var(--bg);
  background-image: var(--gradient);
  background-position: -540px;
  border-radius: 10px;
  background-repeat: no-repeat;
  animation: shimmer var(--speed) linear infinite;
}

.skelenton-cont .option-cont {
  margin-top: 33%;
}


.skelenton-cont .option-cont h2 {
  margin-top: 1px;
  width: 35%;
  height: 24px;
  background: var(--bg);
  background-image: var(--gradient);
  background-position: -540px;
  border-radius: 50px;
  background-repeat: no-repeat;
  animation: shimmer var(--speed) linear infinite;
}

.skelenton-cont .option {
  position: relative;
  width: 70%;
  background-image: var(--gradient);
  background-position: -540px;
  border-radius: 50px;
  background-repeat: no-repeat;
  height: 30%;
  animation: shimmer var(--speed) linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 400px 0;
  }
}


@media  (max-width: 500px ) {
  .skelenton-cont .option-cont h2 {
    margin-top: 30px;
   }

   .skelenton-cont>.question-container2{
    max-width: 60%;
    height: 258px;
   }

  
}